extends layout

block linkStylesheet
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  div.index-header.clearfix
    h1= title
    div.search-box
      input.search-text(type="text", name="param", placeholder="请输入关键字")
      input.search-btn.ev-search-btn(type="button", value="搜索")
    a.index-manage(href="/upload") 管理
  div.img-outer-box.ev-img-outer-box
    div.img-box.ev-img-box
    //-
      div.page-box.clearfix
        a.page-last(href="javascript:void(0);") 尾页
        a.page-next(href="javascript:void(0);") 下一页
        a.page-prev(href="javascript:void(0);") 上一页
        a.page-first(href="javascript:void(0);") 首页

block scripts
  script(src="/jquery/dist/jquery.min.js")
  script(src="/javascripts/pageTable.client.js")
  script(src="/javascripts/index.client.js")
