.right-fixed{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  min-height: 500px;
  background-color: green;
}
.clearfix:before, .clearfix:after{
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
