.edit-box{
  margin-top: 50px;
  margin-left: 50px;
}
.img-name{
  display: block;
  width: 400px;
  border: 1px solid #ccc;
  line-height: 28px;
}
.ev-edit-submit{
  margin-top: 20px;
  padding: 0 20px;
  line-height: 28px;
}
